# Distribution / packaging
*.egg-info

data/
results/
sample_code

# development
.ipynb_checkpoints/
.idea/
.spyproject/
.jupyter_symlinks/
_
# data storing filetypes
*.h5ad
*.npy
*.npz
*.xlsx

# python caches
*.py[cod]
*/__pycache__/
*$py.class

# MacOS filesystem
*.DS_Store
